* {
    margin: 0 auto;
    padding: 0px;
}

html {
    background: url(texture.gif) top left repeat;
}

#container {
    max-width: 825px;
    font-family: Georgia, Verdana, sans-serif;
    font-size: 14px;
}

ul {
    list-style-type: none;

}
li {
    padding-left: 20px;
    line-height: 150%
}

nav ul {    
    float:right;
    padding: 20px 0px;
}

nav li {
    padding-left: 30px;
    text-align: right;
    display: inline;
    text-transform: uppercase;
}

header h1{
    text-transform: capitalize;
    font-size: 2.5em;
    font-style: bold;
    margin: 10px 0px;
    clear: both;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}
section{
	display: flex;
	padding-top: 20px;
	align-items: flex-end;
}


/*header {
    position: fixed;*/
}
h3{
	font-size: 1.5em;
    text-transform: uppercase;
    font-style: bold;
	padding-top: 10px;
	padding-bottom:5px;
}
h2{
	font-size: 1.15em;
    font-style: bold;
}
p {
    line-height: 150%;
}


#work_experience {
    clear: both;
}

.top_row {
    display: inline-block;
}

.top_row_items {
    height: 140px; 
    min-width: 31%;
    float: left;
    border: 2px outset #bcbcbc;
    margin: 5px;
    text-align: center;
    padding-top: 5px;
}
.image {
    height: 120px;
    width: 200px;
}
.pic_description {
    display: block;
    text-align: center;
    bottom: 0px;
}
.category_content {
    padding-top: 10px;
}

.category_title {
	white-space: nowrap;
	text-align: center;
	vertical-align: center;
	left:0px;
	bottom: 0;
	padding-top:0px;
}

div.float_left{
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
	
	max-width: 25px;
	padding-bottom:10px;
	padding-top:0px;
	float: left;
	text-align: left;	
}
div.float_right{
	display: block;
	border: dashed 1px red;
	min-width: 800px;
	float: right;
	border: solid black;
	border-width: 0px 0px 0px 1px;
	padding-left:10px;
}

footer {
    padding-top: 30px;
    text-align: center;
    clear: both;

}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #a50578;
    text-decoration: underline;
}

a:active {
    color: #000;
};